root = true

[*]
# Force Unix-style newlines.
end_of_line = lf
# Always have a trailing newline.
insert_final_newline = true
# Indentation is 4 spaces for everything.
indent_size = 4
indent_style = space
trim_trailing_whitespace = true
