/*
    Style extensions for the UnCMS admin site.
*/

/* Page content type selection page. */
.cms-Classifiers_Groups {
    margin-top: 24px;
}

.cms-Classifiers_Group {
    margin-top: 24px;
}

.cms-Classifiers_Group:first-child {
    margin-top: 0;
}

.cms-Classifiers_Items {
    flex-wrap: wrap;

    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
}

.cms-Classifiers_GroupTitle {
    margin-bottom: 24px;
}

.cms-Classifiers_Item {
    flex-direction: column;

    display: flex;
    width: 120px;
    margin: 0 24px 24px 0;

    list-style: none;

    border: 1px solid #fff;
}

.cms-Classifiers_Item:hover {
    border: 1px solid currentColor;
}

.cms-Classifiers_ItemLink {
    flex: 1 0 auto;
    flex-direction: column;

    display: block;
    padding: 12px;
}

.cms-Classifiers_ItemIcon {
    display: block;
    width: 100%;
}

.cms-Classifiers_ItemTitle {
    display: block;
    margin-top: 12px;

    text-align: center;
}

#recent-actions-module ul li > ul {
    margin-left: 15px;
}

.actionlist {
    min-width: 230px;
}

.controls textarea {
    width: calc(100% - 15px);
}

.defaultSkin table.mceLayout {
    width: calc(100% - 2px) !important;
}

.popup.media-file .form-horizontal fieldset.collapsed {
    margin-top: 35px;
}
