{% extends changelist_template_parent %}

{% load static %}

{% block extrahead %}
  {{ block.super }}

  {% if fancy_grid_css %}
    <link rel="stylesheet" href="{% static 'media/css/media-list.css' %}">
  {% endif %}

  {% if is_media_library_iframe %}
    <script>
      window.addEventListener('DOMContentLoaded', function () {
        // Are we in a TinyMCE? Be flexible and don't assume that's the only
        // place we will be used.
        const tinymce = parent.active_tinymce;

        if (!tinymce) {
          return
        }

        // Make the changelist links clickable and remove the original inline click listener.
        for (const element of document.querySelectorAll('#result_list a')) {
          element.addEventListener('click', function () {
            // Get information from the `<img>` tag in the first column.
            var tr = element.closest('tr');
            var img = tr.querySelector('img');
            var altText = img.getAttribute('uncms:alt-text');
            var permalink = img.getAttribute('uncms:permalink');

            tinymce.focus()
            tinymce.selection.setContent(tinymce.dom.createHTML('img', {
              src: permalink,
              alt: altText,
            }));

            event.preventDefault()

            // Get the active editor open window
            var tinyMcePopup = parent.active_tinymce_window
            if (tinyMcePopup){
              tinyMcePopup.close()
            }
          });
        }

        // Made the add link flagged for tinymce.
        for (const element of document.querySelectorAll(".object-tools a")) {
          element.setAttribute("href", element.getAttribute('href') + "&_tinymce=1")
        }
      });
    </script>
  {% endif %}
{% endblock %}
