{% extends "admin/media/file/change_form.html" %}

{% load i18n %}
{% load static %}

{% block extrahead %}
  {{ block.super }}
  <!-- Instantiate the image editor widget -->
  <link type="text/css" rel="stylesheet" href="{% static 'cms/js/imgeditor/image-editor.css' %}">
  <script type="text/javascript" src="{% static 'cms/js/imgeditor/image-editor.js' %}"></script>
{% endblock %}


{% block object-tools-items %}
  <li>
    <a href="{% url 'admin:media_file_change' original.pk %}">
      {% translate 'Cancel' %}
    </a>
  </li>
{% endblock %}

{% block after_field_sets %}
  <fieldset class="module aligned">
    <input type="text" style="display: none" name="changed_image" maxlength="200" id="id_changed_image">
    <div id="image-editor-container" style="height:750px; display:flex;">
      <div id="tui-image-editor"></div>
    </div>
    <script>
      (function () {
        var instance

        document.addEventListener('DOMContentLoaded', function() {
          var Theme = {
            'common.bi.image': 'none',
            'common.bisize.width': '251px',
            'common.bisize.height': '21px',
            'common.backgroundImage': 'none',
            'common.backgroundColor': '#1e1e1e',
            'common.border': '0px',

            // header
            'header.display': 'none',

            // load button
            'loadButton.display': 'none',

            // download button
            'downloadButton.display': 'none',

            // main icons
            'menu.normalIcon.path': '{% static "cms/svg/image-editor/icon-b.svg" %}',
            'menu.normalIcon.name': 'icon-b',
            'menu.activeIcon.path': '{% static "cms/svg/image-editor/icon-a.svg" %}',
            'menu.activeIcon.name': 'icon-a',
            'menu.iconSize.width': '24px',
            'menu.iconSize.height': '24px',

            // submenu primary color
            'submenu.backgroundColor': '#1e1e1e',
            'submenu.partition.color': '#858585',

            // submenu icons
            'submenu.normalIcon.path': '{% static "cms/svg/image-editor/icon-a.svg" %}',
            'submenu.normalIcon.name': 'icon-a',
            'submenu.activeIcon.path': '{% static "cms/svg/image-editor/icon-c.svg" %}',
            'submenu.activeIcon.name': 'icon-c',
            'submenu.iconSize.width': '32px',
            'submenu.iconSize.height': '32px',

            // submenu labels
            'submenu.normalLabel.color': '#858585',
            'submenu.normalLabel.fontWeight': 'lighter',
            'submenu.activeLabel.color': '#fff',
            'submenu.activeLabel.fontWeight': 'lighter',

            // checkbox style
            'checkbox.border': '1px solid #ccc',
            'checkbox.backgroundColor': '#fff',

            // range style
            'range.pointer.color': '#fff',
            'range.bar.color': '#666',
            'range.subbar.color': '#d1d1d1',
            'range.value.color': '#fff',
            'range.value.fontWeight': 'lighter',
            'range.value.fontSize': '11px',
            'range.value.border': '1px solid #353535',
            'range.value.backgroundColor': '#151515',
            'range.title.color': '#fff',
            'range.title.fontWeight': 'lighter',

            // colorpicker style
            'colorpicker.button.border': '1px solid #1e1e1e',
            'colorpicker.title.color': '#fff'
          }

          instance = new tui.ImageEditor(document.querySelector('#tui-image-editor'), {
            usageStatistics: false,
            includeUI: {
              loadImage: {
                path: '{{ original.get_absolute_url }}',
                name: '{{ original.title }}'
              },
              menu: ['crop','rotate','flip'],
              theme: Theme,
              initMenu: 'crop',
              menuBarPosition: 'bottom',
            },
            cssMaxWidth: 700,
            cssMaxHeight: 500,
            selectionStyle: {
              cornerSize: 20,
              rotatingPointOffset: 70
            }
          })

          for (const button of [].slice.call(document.querySelectorAll('.submit-row [type="submit"]'))) {
            button.addEventListener('click', function() {
              if (!instance.isEmptyUndoStack()) {
                var dataURL = instance.toDataURL();
                document.querySelector('#id_changed_image').value = dataURL
              }
            })
          }
        })
      })()
    </script>
  </fieldset>
{% endblock %}
