<link rel="canonical" href="{{ get_canonical_url() }}" />
<meta name="robots" content="{{ get_meta_robots() }}">
<meta name="description" content="{{ get_meta_description() }}">

<meta property="og:title" content="{{ get_og_title() }}">
<meta property="og:url" content="{{ get_canonical_url() }}">
<meta property="og:type" content="website">
<meta property="og:description" content="{{ get_og_description() }}">
<meta property="og:image" content="{{ get_og_image() }}">

<title>{{ render_title() }}</title>
